<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hibernate-configuration"
             type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
  <hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
    <session-factory name="NH01">
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="connection.connection_string">Data Source=ALMACEN-PC;Initial Catalog=Ideprint;User ID=sa;Password=Desarroll0</property>
      <property name="show_sql">false</property>
      <mapping assembly="Soft.Entities" />
      <mapping assembly="Soft.Seguridad.Entidades" />
      <mapping assembly="Soft.Configuracion.Entidades" />
      <mapping assembly="Soft.Inventario.Entidades" />
      <mapping assembly="Soft.Reporte.Entidades" />
      <mapping assembly="Soft.Ventas.Entidades" />
    </session-factory>
  </hibernate-configuration>
  <appSettings>
    <add key="CarpetaReportes" value="E:\Proyectos SVN\Soft ERP\Reportes\" />
    <add key="CarpetaImagenes" value="E:\Proyectos SVN\Soft ERP\Imagenes\" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>